@import url(base.css);
body{
	background-color: #F5F5F5;
}
header{
	width: 100%;
	height: 1.43rem;
	background-color: #B9B2C1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
header .headerbox{
	width: 3.45rem;
	height: 0.41rem;
	display: flex;
	justify-content: space-between;
}
header .headerbox .left{
	width: 0.17rem;
	height: 100%;
	display: flex;
}
header .headerbox .left .iconfont{
	font-size: 0.20rem;
	line-height: 0.41rem;
	color: white;
}
header .headerbox .right{
	width: 0.25rem;
	height: 100%;
	display: flex;
}
header .headerbox .right .iconfont{
	font-size: 0.20rem;
	width: 0.20rem;
	line-height: 0.41rem;
	color: white;
}
header .headercon{
	width: 3.45rem;
	height: 0.67rem;
	display: flex;
	justify-content: space-between;
	/* margin-bottom: 0.24rem; */
}
header .headercon .img{
	width: 0.66rem;
	height: 100%;
}
header .headercon .img img{
	width: 0.66rem;
	height: 100%;
}
header .headercon .con{
	width: 2.71rem;
	height: 100%;
}
header .headercon .con .con1{
	width: 100%;
	height: 0.22rem;
	font-size:0.20rem;
	line-height: 0.22rem;
	color: white;
}
header .headercon .con .con2{
	width: 1.73rem;
	height: 0.12rem;
	font-size: 0.11rem;
	color: white;
	margin-top: 0.06rem;
}
header .headercon .con .con3{
	width: auto;
	height: 0.14rem;
	font-size: 0.11rem;
	color: white;
	line-height: 0.14rem;
	margin-top: 0.11rem;
}
header .headerend{
	width: 3.51rem;
	height: 0.18rem;
	display: flex;
	justify-content: space-between;
}
header .headerend .hde1{
	width: 0.14rem;
	height: 0.15rem;
	background-color: #F07373;
	font-size: 0.10rem;
	color: white;
	line-height: 0.15rem;
	text-align: center;
}
header .headerend .hde2{
	width: auto;
	height: 0.15rem;
	font-size: 0.10rem;
	color: white;
	line-height: 0.15rem;
	text-align: center;
	margin-right: 1.80rem;
}
header .headerend .hde3{
	width: auto;
	height: 0.15rem;
	font-size: 0.10rem;
	line-height: 0.15rem;
	text-align: center;
	color: white;
	position: relative;
}
header .headerend .hde3 .icon-you1{
	position: absolute;
	top: 0.01rem;
	left: 0.33rem;
}
.list{
	width: 100%;
	height: 0.40rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background-color: white;
}
.list .listbox{
	width: 0.29rem;
	height: 0.26rem;
	/* border-bottom: 0.03rem solid #85CAFF; */
	box-sizing: border-box;
	font-size: 0.14rem;
	line-height: 0.16rem;
	text-align: center;
	color: #666;
}
.list .listbox1{
	color: #85CAFF;
	border: none;
	border-bottom: 0.03rem solid #85CAFF;
}
.list .listbox2{
	color: #666666;
	border: none;
	/* border-bottom: 0.03rem solid #666666; */
}
.zonghe{
	width: 100%;
	height: 0.98rem;
	border-top: 0.02rem solid #F5F5F5;
	box-sizing: border-box;
	padding-left: 0.16rem;
	padding-top: 0.23rem;
	background-color: white;
}
.zhbox{
	width: 2.69rem;
	height: 0.55rem;
	display: flex;
}
.zhboxa{
	width: 1.05rem;
	height: 100%;
	border-right: 0.01rem solid #F0F0F0;
	box-sizing: border-box;
}
.zhboxb{
	width: 1.64rem;
	height: 100%;
}
.zhboxa .zhboxa1{
	width: 100%;
	height: 0.20rem;
	font-size: 0.20rem;
	line-height: 0.20rem;
	text-align: center;
	color: #FF6000;
}
.zhboxa .zhboxa2{
	width: 100%;
	height: 0.11rem;
	font-size: 0.11rem;
	line-height: 0.11rem;
	text-align: center;
	margin-top: 0.06rem;
	color: #898989;
}
.zhboxa .zhboxa3{
	width: 100%;
	height: 0.11rem;
	font-size: 0.1rem;
	line-height: 0.11rem;
	text-align: center;
	margin-top: 0.07rem;
	color: #A2A2A2;
}
.zhboxb .zhbb1{
	width: 100%;
	height: 0.11rem;
	display: flex;
}
.zhboxb .zhbb1 .zhbb11{
	width: 0.48rem;
	height: 100%;
	margin-left: 0.24rem;
	font-size: 0.12rem;
	line-height: 0.11rem;
	text-align: center;
	color: #666666;
}
.zhboxb .zhbb1 .zhbb12{
	width: 0.55rem;
	height: 100%;
	display: flex;
	margin-left: 0.10rem;
}
.zhboxb .zhbb1 .zhbb12 .iconfont{
	font-size: 0.12rem;
	color: #FFD900;
}
.zhboxb .zhbb1 .zhbb13{
	width: 0.17rem;
	height: 100%;
	font-size: 0.12rem;
	line-height: 0.11rem;
	text-align: center;
	color: #FF6C0A;
	margin-left: 0.10rem;
}
.zhboxb .zhbb1:nth-of-type(2){
	margin-top: 0.11rem;
}
.zhboxb .zhbb1:nth-of-type(3) .zhbb12{
	width: 0.55rem;
	height: 100%;
	font-size: 0.12rem;
	line-height: 0.11rem;
	text-align: center;
	margin-left: 0.10rem;
}
.zhboxb .zhbb1:nth-of-type(3){
	margin-top: 0.10rem;
	color: #666;
}
.white{
	width: 100%;
	height: 0.20rem;
	background-color: white;
}
.pingfen{
	width: 100%;
	height: auto;
	background-color: white;
	margin-top: 0.10rem;
	overflow: hidden;
}
.pingfen .pfbox{
	width: 3.51rem;
	height: auto;
	margin: 0.14rem 0 0 0.13rem;
	/* background-color: red; */
}
.pingfen .pfbox .aaa{
	width: 100%;
	height: 0.41rem;
}
.pingfen .pfbox .aaa .aaa_1{
	width: 0.65rem;
	height: 0.28rem;
	float: left;
	background-color: #0097FF;
	margin-left: 0.03rem;
	font-size: 0.14rem;
	line-height: 0.28rem;
	text-align: center;
	color: white;
	border-radius: 0.02rem;
}
.pingfen .pfbox .aaa .aaa_2{
	width: 0.65rem;
	height: 0.28rem;
	float: left;
	background-color: #EBF5FF;
	font-size: 0.14rem;
	line-height: 0.28rem;
	text-align: center;
	color: #8F9AA6;
	border-radius: 0.02rem;
	margin-left: 0.07rem;
}
.pingfen .pfbox .aaa .aaa_3{
	width: 0.65rem;
	height: 0.28rem;
	float: left;
	background-color: #F5F5F5;
	font-size: 0.14rem;
	line-height: 0.28rem;
	text-align: center;
	color: #ADADAD;
	border-radius: 0.02rem;
	margin-left: 0.08rem;
}
.pingfen .pfbox .bbb{
	width: 100%;
	height: 0.95rem;
	margin-top: 0.12rem;
	border-top: 0.01rem solid #E6E6E6;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb .bbb_1{
	width: 2.19rem;
	height: 100%;
	display: flex;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_11{
	width: 0.45rem;
	height: 100%;
	overflow: hidden;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_11 img{
	display: block;
	width: 0.30rem;
	height: 0.31rem;
	margin-top: 0.10rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12{
	width: 1.74rem;
	height: 100%;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_121{
	width: auto;
	height: auto;
	float: left;
	font-size: 0.18rem;
	line-height: 0.18rem;
	margin-top: 0.10rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 span{
	display: block;
	float: left;
	font-size: 0.12rem;
	margin-top: 0.10rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_122{
	width:auto;
	height: 0.12rem;
	margin-top: 0.35rem;
	display: flex;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_122 .iconfont{
	font-size: 0.12rem;
	color: #FFDA00;
	line-height: 0.12rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_122 .iconfont:nth-child(5){
	color: #ccc;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_122 p{
	font-size: 0.12rem;
	color: #8F97A1;
	line-height: 0.12rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_123{
	width: 1.1rem;
	height: 0.24rem;
	margin-left: 0.02rem;
	display: flex;
	margin-top: 0.04rem;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_123 .a{
	width: 0.82rem;
	height: 100%;
	border:  0.01rem solid #D7DEE4;
	border-radius: 0.02rem;
	box-sizing: border-box;
	font-size: 0.10rem;
	line-height: 0.24rem;
	text-align: center;
	color: #9FA6AF;
}
.pingfen .pfbox .bbb .bbb_1 .bbb_12 .bbb_123 .b{
	width: 0.82rem;
	height: 100%;
	border:  0.01rem solid #D7DEE4;
	border-radius: 0.02rem;
	box-sizing: border-box;
	font-size: 0.10rem;
	line-height: 0.24rem;
	text-align: center;
	color: #9FA6AF;
	margin-left: 0.06rem;
}
.pingfen .pfbox .bbb:nth-of-type(3){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(4){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(5){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(6){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(7){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(8){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(9){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}
.pingfen .pfbox .bbb:nth-of-type(10){
	width: 100%;
	height: 0.95rem;
	margin-top: 0;
	border-top:none;
	border-bottom: 0.01rem solid #E6E6E6;
	box-sizing: border-box;
	display: flex;
}

